/* GLOBAL
--------------------------*/
* {
	margin:0px;
	padding:0px;
	font-family:Arial;
}
body {
	background-position:top;
	background-attachment:fixed;
	background-image:url(../img/bg.jpg);
	background-color:#fff;
	background-repeat:repeat-x;
}
.clear {
	clear:both;
}
#wrapper {
	width:800px;
	margin:5px auto 0px;
}
.main_box {
	display:none;
}
.option {
	width:600px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 5px 0px;
}
.solution {
	width:600px;
	margin:0px 0px 20px 0px;
	font-size:12px;
}

/* NO API LINK
--------------------------*/
#no-api {
	width:600px;
	margin:50px 100px;
	color:#000;
}
#no-api .alert {
	width:600px;
	height:30px;
	line-height:30px;
	background:#fcc;
	border:1px solid #faa;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 20px 0px;
}
#no-api .field {
	float:left;
}
#no-api .api_text {
	width:480px;
	height:20px;
	font-size:12px;
	margin:0px 10px 0px 0px;
}
#no-api .api_submit {
	width:110px;
	height:20px;
}
.alternate {
	font-size:14px;
	color:#008;
}

/* WAIT BOX
--------------------------*/
#wait-box {
	width:600px;
	margin:30px 100px;
	color:#000;
}
#wait-box .alert {
	width:600px;
	height:30px;
	line-height:30px;
	background:#cfc;
	border:1px solid #afa;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 20px 0px;
}
#wait-box .latest {
	width:600px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	margin:0px 0px 10px 0px;
}
#wait-box .api_txt {
	width:400px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0px 100px 20px 100px;
	word-wrap:break-word;
	color:#039;
}
#wait-box .play_now {
	margin:5px 0px 0px 20px;
}
#wait-box .play_btn {
	width:150px;
	height:22px;
	line-height:18px;
}
#wait-box .forget {
	margin:5px 0px 0px 20px;
}
#wait-box .forget_btn {
	width:150px;
	height:22px;
	line-height:18px;
}

/* GAME BOX
--------------------------*/
#game-box {
	width:800px;
	height:480px;
	box-shadow:5px 5px 5px #777;
	background:#333;
	position:relative;
}
#game-swf {
	width:800px;
	height:480px;
	background:#000;
}

/* OVERLAYS
--------------------------*/
#overlays {
	
}
#factory {
	display:none;
}
.overlay {
	position:absolute;
}

/* OVERLAY: QUEST
--------------------------*/
.ol_quest {
	width:400px;
	height:37px;
	background:#E4D5C2;
	left:215px;
}
.ol_quest .name {
	width:400px;
	height:14px;
	line-height:14px;
	font-size:14px;
	margin:0px 0px 3px 0px;
}
.ol_quest .desc {
	width:400px;
	height:10px;
	line-height:10px;
	font-size:10px;
}