/* GLOBAL
--------------------------*/
* {
	margin:0px;
	padding:0px;
	font-family:Arial;
}
body {
	background:#ddd;
	font-family:Arial;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	color:#000;
}
.padding {
	padding:5px 10px;
}
.hover {
	cursor:hand;
	cursor:pointer;
}
.nbsp {
	height:1px;
}

/* LOAD NOTICE
--------------------------*/
#loadNotice {
	width:600px;
	margin:5px auto;
}
#loadNotice .start_btn {
	width:180px;
	height:30px;
	line-height:30px;
	margin:30px auto 10px;
	text-align:center;
	font-weight:bold;
	border:2px outset #393;
	background:#cfc;
}

/* WRAPPER
--------------------------*/
#wrapper {
	width:600px;
	margin:5px auto 10px;
	display:none;
}

/* HEADER
--------------------------*/
#header {
	width:600px;
	height:40px;
	margin:0px 0px 10px 0px;
}
.headCol {
	height:40px;
	float:left;
}
/* COUNTS */
.count-field {
	width:100px;
	height:20px;
	line-height:20px;
}
.count-icon {
	width:20px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.count-icon img {
	width:16px;
	height:16px;
	margin:2px;
}
.count-value {
	width:35px;
	height:20px;
	line-height:20px;
	float:left;
	font-size:14px;
}
.count-max {
	width:30px;
	height:20px;
	line-height:20px;
	float:left;
	font-size:12px;
	color:#aaa;
}
/* COL-1 */
.headCol1 {
	width:150px;
	height:40px;
}
#hq-name {
	width:150px;
	height:24px;
	font-size:18px;
	overflow:hidden;
}
#hq-rank {
	width:150px;
	height:16px;
	font-size:14px;
}
/* COL-2 */
.headCol2 {
	width:120px;
	height:40px;
}
#hq-lv {
	width:120px;
	height:24px;
	font-size:18px;
}
#hq-next {
	width:120px;
	height:16px;
	font-size:12px;
}
/* COL-3 */
.headCol3 {
	width:100px;
	height:40px;
}
/* COL-4 */
.headCol4 {
	width:100px;
	height:40px;
}
/* COL-5 */
.headCol5 {
	width:90px;
	height:40px;
}
.headCol6 {
	width:40px;
	height:40px;
}
.headCol6 .sstool {
	width:40px;
	height:40px;
	float:right;
}

/* NAVIGATION
--------------------------*/
#navigation {
	width:600px;
	height:30px;
	margin:0px 0px 0px 0px;
}
.navItem {
	width:80px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin:0px 5px 0px 0px;
	float:left;
	background:#ccc;
}
.navItem.navActive {
	background:#fff !important;
}

/* CONTENT
--------------------------*/
#content {
	width:600px;
	min-height:100px;
	background:#fff;
}

/* CONTENT: SHIPS
--------------------------*/
#tab-ships {
	padding:10px 0px 0px 0px;
}
#tab-ships .shipli {
	width:580px;
	height:20px;
	margin:0px 10px 5px 10px;
	font-size:12px;
	line-height:20px;
	background:#eee;
}
#tab-ships .shipli .field {
	float:left;
}
#tab-ships .shipli .spic {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .spic img {
	width:20px;
	height:20px;
}
#tab-ships .shipli .name {
	width:117px;
	height:20px;
	overflow:hidden;
	font-weight:bold;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .level {
	width:40px;
	height:20px;
	overflow:hidden;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .morale {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .morale img {
	width:20px;
	height:20px;
}
#tab-ships .shipli .stats {
	width:252px;
	height:20px;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .stat {
	width:26px;
	height:20px;
	margin:0px 2px 0px 0px;
	float:left;
	text-align:center;
}
.stat.hp { background:#FFCCFF; }
.stat.fp { background:#D28483; }
.stat.tp { background:#8397A7; }
.stat.aa { background:#DC9357; }
.stat.ar { background:#E0BE79; }
.stat.as { background:#7FCCD8; }
.stat.ev { background:#FFC44D; }
.stat.ls { background:#8CC896; }
.stat.lk { background:#00CC00; }
#tab-ships .shipli .gear {
	width:80px;
	height:20px;
	margin:0px 5px 0px 0px;
}
#tab-ships .shipli .gear img {
	width:20px;
	height:20px;
}
#tab-ships .shipli .lock {
	width:20px;
	height:20px;
}
#tab-ships .shipli .lock img {
	width:20px;
	height:20px;
}

/* CONTENT: ITEMS
--------------------------*/
#tab-items {
	padding:10px 0px 0px 0px;
}
#tab-items .itemli {
	width:580px;
	margin:10px 10px 0px 10px;
	background:#eee;
}

/* CONTENT: CONFIG
--------------------------*/
#tab-config .config_head {
	width:560px;
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	background:#ddd;
	border-bottom:1px solid #ccc;
	padding:0px 10px;
}
#tab-config .config_body {
	width:560px;
	padding:5px 10px;
	margin:0px 0px 10px 0px;
	background:#eee;
	min-height:30px;
	font-size:12px;
}
/* API LINK */
#tab-config .api_link {
	width:480px;
	height:20px;
	float:left;
	border:1px inset;
	background:#ddd;
	margin:0px 10px 0px 0px;
}
#tab-config .api_link input {
	width:480px;
	height:20px;
	line-height:20px;
	background:transparent;
	border:0px none;
	font-family:monospace;
	font-size:10px;
	padding:0px 5px;
}
#tab-config .api_revoke {
	width:60px;
	height:20px;
	float:left;
}
#tab-config .api_revoke button {
	width:60px;
	height:20px;
}
#tab-config .release {
	font-size:14px;
	font-weight:bold;
}
#tab-config ul {
	margin:0px 0px 10px 20px;
}
#tab-config ul li {
	font-size:12px;
}


/* CONTENT: HOME SECTIONS
--------------------------*/
/* LEFT */
.boxes_left {
	width:400px;
	float:left;
}
.box_fleet {
	width:400px;
	float:left;
	margin:5px 5px 0px;
}

/* RIGHT */
.boxes_right {
	width:200px;
	float:right;
}
.box_right {
	width:190px;
	float:right;
	margin:5px 5px 0px 5px;
}

/* CONTENT: HOME BOXES
--------------------------*/
/* MAIN FLEET */
.box_fleet .ship {
	width:390px;
	height:40px;
	margin:0px 0px 5px 0px;
}
/* Commons: Bar */
.box_fleet .ship .bar {
	width:60px;
	height:12px;
	float:left;
}
.box_fleet .ship .bar_box {
	width:60px;
	height:12px;
	margin:5px 0px 0px 0px;
	position:relative;
}
.box_fleet .ship .bar_box_lv {
	background:#ccc;
}
.box_fleet .ship .bar_box_hp {
	background:#555;
}
.box_fleet .ship .bar_txt {
	width:60px;
	height:12px;
	font-size:10px;
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
}
.box_fleet .ship .bar_val {
	height:12px;
}
/* Column: Pic */
.box_fleet .ship .pic {
	width:40px;
	height:40px;
	float:left;
	margin:0px 5px 0px 0px;
	/*background:#fcc;*/
}
	.box_fleet .ship .pic img {
		width:36px;
		height:36px;
		margin:2px;
	}
/* Column: Name */
.box_fleet .ship .name {
	width:130px;
	height:40px;
	float:left;
	margin:0px 5px 0px 0px;
	/*background:#cfc;*/
}
	.box_fleet .ship .stype {
		width:40px;
		height:16px;
		float:left;
		font-size:12px;
		font-weight:bold;
		font-family:monospace;
	}
	.box_fleet .ship .jp_name {
		width:90px;
		height:16px;
		float:left;
		font-size:12px;
	}
	.box_fleet .ship .en_name {
		width:130px;
		height:20px;
		line-height:20px;
		float:left;
		font-size:14px;
	}
/* Column: Level */
.box_fleet .ship .level {
	width:60px;
	height:40px;
	float:left;
	/*background:#ffc;*/
	margin:0px 5px 0px 0px;
}
	.box_fleet .ship .level .leveltxt {
		width:60px;
		height:18px;
		float:left;
		/*background:#ccf;*/
	}
	.box_fleet .ship .level .leveltxt span {
		font-size:12px;
	}
/* Column: Life */
.box_fleet .ship .life {
	width:60px;
	height:40px;
	float:left;
	/*background:#ffc;*/
	margin:0px 5px 0px 0px;
}
	.box_fleet .ship .life .hp {
		width:60px;
		height:18px;
		float:left;
		/*background:#ccf;*/
	}
	.box_fleet .ship .life .hp span {
		font-size:12px;
		color:#888;
	}
/* Column: Morale */
.box_fleet .ship .morale {
	width:40px;
	height:40px;
	line-height:40px;
	float:left;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

/* RIGHT BOXES */
.box_right .list_item {
	width:190px;
	height:20px;
	margin:0px 0px 5px 0px;
	/*background:#fcc;*/
}
.box_right .list_item .field {
	float:left;
}
.box_right .list_item .icon {
	width:20px;
	height:20px;
	margin:0px 5px 0px 0px;
	/*background:#ffc;*/
}
.box_right .list_item .type {
	width:40px;
	height:20px;
	line-height:20px;
	margin:0px 5px 0px 0px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	/*background:#cfc;*/
}
.box_right .list_item .type img {
	width:20px;
	height:20px;
}
.box_right .list_item .time {
	width:80px;
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	font-family:monospace;
	margin:0px 5px 0px 0px;
	color:#000;
	/*background:#faa;*/
	text-align:center;
}
.box_right .list_item .bell {
	width:20px;
	height:20px;
	float:right;
	display:none;
	/*background:#ccf;*/
}

/* FACTORY
--------------------------*/
#factory {
	display:none;
}