/* GLOBAL
--------------------------*/
* {
	margin:0px;
	padding:0px;
	font-family:Arial;
}
html,body {
	width:250px;
	height:360px;
	background:#eee;
	font-family:Arial;
	overflow:hidden;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	color:#000;
}
.hover {
	cursor:hand;
	cursor:pointer;
}
.separator {
	border-top:1px solid #ccc;
	margin:5px 0px;
}


/* INTRO
--------------------------*/
#kc3_title {
	width:240px;
	width:240px;
	font-size:14px;
	height:24px;
	line-height:24px;
	font-weight:bold;
	text-align:center;
	color:#003399;
}


/* LAYOUT
--------------------------*/
.menuItem {
	width:250px;
	margin:0px 0px 5px 0px;
}
.menuItem:hover {
	background:#cde;
}
.checkItem {
	width:250px;
	margin:0px 0px 5px 0px;
}
.itemIcon {
	width:24px;
	height:24px;
	margin:0px 6px 0px 0px;
	float:left;
}
.itemIcon img {
	width:20px;
	height:20px;
	margin:2px;
}
.itemCheck {
	width:24px;
	height:24px;
	margin:0px 6px 0px 0px;
	float:left;
}
.itemCheck input {
	width:16px;
	height:16px;
	margin:4px 2px 4px 6px;
}
.itemName {
	width:220px;
	height:24px;
	line-height:24px;
	font-size:12px;
	font-weight:bold;
	float:left;
}
.itemDesc {
	width:240px;
	line-height:14px;
	font-size:10px;
	color:#777;
	float:left;
	margin:0px 5px;
}

.end_note {
	width:230px;
	padding:2px;
	margin:0px auto 5px;
	font-size:11px;
	border:1px solid #ccc;
	background:#ddd;
}